{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'home/img/favicon.png' %} " type="image/x-icon">
<link rel="stylesheet" href=" {% static 'home/css/style.css' %} " />
{% endblock style %}


{% block content %}
<!-- Navbar -->
<nav class="nav-bar">{% include 'components/navbar.html' %}</nav>

<main class="main-home">
  <h1>Hello depuis Home</h1>
</main>


<!-- Footer -->
<footer>{% include 'components/footer.html' %}</footer>
{% endblock content %}



{% block js %}

{% endblock js %}