.main-profile
  width: 100%
  @extend .flex-center
  flex-direction: column

.profile-info
  width: 100%
  margin-top: 18px
  height: 60vh
  background-color: $color4
  box-shadow: 0 2px 3px 0 $color6
  border-radius: 8px
  text-align: center
  padding-top: 10px

.profile-description
  width: 100%
  margin-top: 18px
  height: 60vh
  background-color: $color4
  box-shadow: 0 2px 3px 0 $color6
  border-radius: 8px
  text-align: center
  padding-top: 10px

.profile-experience
  width: 100%
  margin-top: 18px
  height: 60vh
  background-color: $color4
  box-shadow: 0 2px 3px 0 $color6
  border-radius: 8px
  text-align: center
  padding-top: 10px

.profile-formation
  width: 100%
  margin-top: 18px
  height: 60vh
  background-color: $color4
  box-shadow: 0 2px 3px 0 $color6
  border-radius: 8px
  text-align: center
  padding-top: 10px
